<div class="ui container">
			<div class="ui comments">
			<% blog.comments.forEach(function(comment){ %>
			  <div class="comment">
			    <div class="content">
			      <a class="author"><%= comment.author.username %></a>
			      <div class="metadata">
			        <div class="date">2 days ago</div>
			      </div>
			      <div class="text">
			        <%= comment.text %>
			      </div>
			    </div>
			    <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
								<a class="ui mini green basic button" 
								   href="/blogs/<%= blog._id%>/comments/<%= comment._id %>/edit">Edit
								</a>
								<form style="display: inline;" class="delete_form" action="/blogs/<%= blog._id%>/comments/<%= comment._id %>?_method=DELETE" method="POST">
									<button class="ui mini red basic button">Delete</button>
									
								</form>
							<% } %>	 
			  </div>
			  <% }); %>
			</div>
		</div>